html, body {
    height: 225%;
    margin: 0;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1;
  }
  footer {
    /* Footer styles */
    background-color: #f0f0f0; padding: 0.1px; text-align: center;
  }
  