<div class="home-introduction">
    <div class="intro-section">
      <!-- <img src="\assets\IMG_8776.jpg" alt="Akil-picture" class="profile-pic"> -->
      <!-- <h1>Hello, I'm Akil</h1> -->
      <h1 style="color: blue;">Welcome to iCareTech! </h1>
      <p>I'm passionate about technology and innovation. Here, I share my insights, projects, 
        and the latest tech trends that excite me. Join me on this journey to explore the wonders of technology. 
        I'm a software engineer, currently balancing a full-time job while advancing my 
        education through a master's degree. My journey is fueled by a deep-seated dream to a
        chieve greatness in my field. This path reflects not just my commitment to professional 
        growth but also my dedication to personal excellence. My ambition is to 
        harness my expanding knowledge and experience, steering towards realizing 
        lofty aspirations that lie ahead.</p>

    </div>
    <div class="features">
      <h2>What We Offer</h2>
      <ul>
        <li>Latest tech news and articles</li>
        <li>Comprehensive guides and tutorials</li>
        <li>Insights into cutting-edge technology trends</li>
      </ul>
    </div>
    <a href="/contact" class="contact-btn">Get In Touch</a>
  </div>
  